body footer hr {
  width: 70%;
}

input {
  box-shadow: 0 0 0.3rem #c0e0ec;
}

.logo__nav {
  height: 50px;
  width: 50px;
}
.logo__nav:hover {
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
  transform: rotate(360deg);
}

.shop__main {
  background-image: linear-gradient(2.6deg, white -0.9%, black 78.4%);
}

.bg__programas {
  background-image: linear-gradient(2.6deg, white -0.9%, black 78.4%);
}

.section__allInPro--bg {
  background-image: radial-gradient(circle 1144px at 10% 20%, black 48.3%, #bbbbbb 48.5%);
}

#beneficios {
  background-image: linear-gradient(2.6deg, #0a30ff -0.9%, black 78.4%);
}

body {
  background-color: #000;
}

nav {
  font-family: helvetica;
  font-size: 14px;
  font-weight: 500;
}
nav .navbar-brand {
  font-family: helvetica;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.index__header {
  height: 70vh;
}
.index__header .header__container {
  position: relative;
  top: -10%;
}

.index__main .main__img-app, .index__main .main__img-app2 {
  transform: skewY(15deg);
  opacity: 0.5;
  border-radius: 10px;
  width: 200px;
  height: auto;
  box-shadow: 0.4rem 0.4rem 1rem #a8eeff;
}
.index__main .main__img-app2 {
  transform: skewY(-15deg);
}
.index__main .img__descargaApp {
  width: 8rem;
}

#section__shop img {
  width: 200px;
  height: 200px;
}

@media only screen and (min-width: 992px) {
  .section__programas {
    height: 35rem;
  }
  .section__programas .carousel__programas {
    visibility: hidden;
  }
  .section__programas .container {
    perspective: 1000px;
  }
  .section__programas .container__cards {
    position: absolute;
    height: 40vh;
  }
  .section__programas .container__cards .container .begginer:hover, .section__programas .container__cards .container .advanzed:hover, .section__programas .container__cards .container .intermediate:hover {
    transform: rotateY(180deg);
  }
  .section__programas .container__cards .card {
    border-radius: 20px;
    height: 200px;
    width: 290px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
  }
  .section__programas .container__cards .card .front, .section__programas .container__cards .card .back {
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: sans-serif;
    border-radius: 10px;
    position: absolute;
    background: linear-gradient(#08aeea, #2af598);
    z-index: 2;
    backface-visibility: hidden;
  }
  .section__programas .container__cards .card .back {
    background: linear-gradient(#161616, #999999);
    z-index: 1;
    transform: rotateY(180deg);
    backface-visibility: visible;
  }
  .section__programas .container__cards .card .back p {
    font-size: 10px;
  }
}
.carousel__item img {
  border-radius: 20px;
}

@media only screen and (max-width: 992px) {
  .container__cards {
    visibility: hidden;
    position: absolute;
  }
}
#beneficios h3 {
  font-size: 1.4rem;
}
#beneficios p {
  font-size: 1rem;
  font-style: italic;
}

/*# sourceMappingURL=main.css.map */
