//Variables Globales

$nav-font: helvetica;

nav {
    font-family: $nav-font;
    font-size: 14px;

    .navbar-brand {
        font-family: $nav-font;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
    }
}

.index__header--title{
    font-size: 4rem;
}