//Variables Globales

$nav-font: helvetica;

nav {
    font-family: $nav-font;
    font-size: 14px;
    font-weight: 500;

    .navbar-brand {
        font-family: $nav-font;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
    }
}