//Variables Globales

$black:#000;
$hr-width: 70%;
$b-radius-1: 10px;
$b-radius-2: 20px;
$b-radius-circle: 100%;
$form-shadow:0 0 .3rem #c0e0ec;

//IMPORT

@import "mixin";

//Footer para todas las secciones

#footer {
    margin: auto;
    max-width: 786px;

    .container-sm {
        max-width: 772px;
        ;
    }

    .footer__list {
        @include flex-center (flex, column, center)
    }

    hr {
        width: $hr-width;
    }
}



//Elementos para todas las secciones

input {
    box-shadow: $form-shadow;
}

//Navegacion para todas las secciones

.logo__nav {
    height: 50px;
    width: 50px;

    &:hover {
        transition-property: all;
        transition-duration: 2s;
        transition-timing-function: linear;
        transform: rotate(360deg);
    }
}

.nav-item{
    max-width: 120px;
}

